{% extends "layout/base.html" %}

{% macro render_breadscrumb(title, top='Home', sub_1='sub_1' , sub_2=null) -%}
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>{{title|safe}}</h2>
		<ol class="breadcrumb">
			<li><a href="/todo">{{top}}</a></li>
			{% if sub_2 %}
				<li><a>{{sub_1}}</a></li>
				<li class="active"><strong>{{sub_2}}</strong></li>
			{% else %}
				<li class="active"><a>{{sub_1}}</a></li>
			{% endif %}
		</ol>
	</div>
	<div class="col-lg-2"></div>
</div>  
{%- endmacro %}


{% block content %}
{{super()}}

<div id="wrapper">

<!-- Navigator -->
{% include "layout/nav/DYNAMIC_NAV.html" %}

{% block page_header %}
{% endblock %}

<div class="wrapper wrapper-content animated fadeInRight">
{% block page_main %}
{% endblock page_main %}
</div>


<div class="footer hide">
	<div class="pull-right hide">
	10GB of <strong>250GB</strong> Free.
	</div>
	<div>
	<strong>Copyright</strong> FutureTeK Company &copy; 2010-2017
	</div>
</div>

</div>  

{% endblock %}

{% block scripts %}
{{super()}}
    <!-- Mainly scripts -->
    <script src="{{url_for('static',filename='js/plugins/metisMenu/jquery.metisMenu.js')}}"></script>
    <script src="{{url_for('static',filename='js/plugins/slimscroll/jquery.slimscroll.min.js')}}"></script>

    <!-- Custom and plugin javascript -->
    <script src="{{url_for('static',filename='js/inspinia.js')}}"></script>
    <script src="{{url_for('static',filename='js/plugins/pace/pace.min.js')}}"></script>

    <!-- jQuery UI -->
    <script src="{{url_for('static',filename='js/plugins/jquery-ui/jquery-ui.min.js')}}"></script>

	<!-- React.Js 
	<script src="{{url_for('static',filename='js/react/react.js')}}"></script>
	<script src="{{url_for('static',filename='js/react/react-dom.js')}}"></script>
	<script src="{{url_for('static',filename='js/react/babel.min.js')}}"></script>
	-->
{% endblock %}