<!-- extend base layout -->
{% extends "layout/base.html" %}
{% block body_type %} class="gray-bg" {% endblock %}
{% block content %}
<script type="text/javascript">
function set_openid(openid, pr)
{
    u = openid.search('<username>')
    if (u != -1) {
        // openid requires username
        user = prompt('Enter your ' + pr + ' username:')
        openid = openid.substr(0, u) + user
    }
    form = document.forms['login'];
    form.elements['openid'].value = openid
}
</script>
<div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>
                <h1 class="logo-name">IoT</h1>
            </div>
            <h3>Welcome to FTM</h3>
            <p>Login</p>
   				<p>FutureTek IoT Management System</p>
            <form class="m-t" role="form" action="/login" method="POST">
                <div class="form-group">
                    <input type="email" class="form-control" name="email" placeholder="Username" required="" value="foo@bar.tld">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="passwd" placeholder="Password" required="" value="secret">
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Login</button>
                <!-- <a href="#"><small>Forgot password?</small></a> -->
                <p class="text-muted text-center"><small>Do not have an account?</small></p>
                <a class="btn btn-sm btn-white btn-block" href="/cmm/account">Create an account</a>
            </form>
            <p class="m-t"> <small>경기도 성남시 중원구 상대원동 442-2 한라시그마밸리 208호 주식회사 퓨쳐텍 &copy; 2017</small> </p>
        </div>
    </div>

{% endblock %}